# Google Cloud Project ID (visible in Google Cloud Console)
GCP_PROJECT_ID=your_gcp_project_id_here

# Google OAuth 2.0 Credentials (Get these from Google Cloud Console)
GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id_here
GOOGLE_OAUTH_CLIENT_SECRET=your_google_oauth_client_secret_here

SPRING_MAIL_USERNAME=your_gmail_address@gmail.com
# Note: An app password should be used here instead of the actual password of the mail account
SPRING_MAIL_PASSWORD=your_gmail_app_password_here

MYSQL_USER=evalit_user
MYSQL_PASSWORD=evalit_password_secure
MYSQL_ROOT_PASSWORD=evalit_root_password_secure

SERVER_IP=http://localhost:8080
SERVER_IP_WITH_NIP=http://localhost.nip.io:8080
