@font-face {
    font-family: "Nunito ExtraBold";
    src: url("../../fonts/Nunito-ExtraBold.ttf");
}

.root {
    font-family: "Nunito ExtraBold";
    -fx-font-family: "Nunito ExtraBold";
    font-size: 14px;
    -fx-font-size: 14px;
}

.my-heading {
    font-size: 36px;
    -fx-font-size: 36px;
}

.businessCard {
    -fx-border-color: black;
    border-color: black;
    -fx-border-width: 2px;
    border-width: 2px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-padding: 10px;
    padding: 10px;
}